@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <div class="row" style="padding-top: 55px;">
            <div class="col-sm-4">
                <div class="card" style="background-color: papayawhip; ">
                    <div class="card-body">
                        <div class="card-title" style="font-size: 24px; font-weight: bold;">DEVANAND BASANTANI</div>
                        <img src="https://www.w3schools.com/tags/img_girl.jpg" class="card-img-top" alt="Card image cap" style="height: 345px;">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card" style="background-color: ivory">
                    <div style="font-size: 24px; padding-top: 15px; padding-bottom: 15px;">
                        Responsibilities:
                    </div>
                    <div class="list-group-item">
                        Issue Resolution: Devanand work on resolve technical problems and bugs reported by end-users or the development teams.
                    </div>
                    <div class="list-group-item">
                        Customer Support: They provide excellent customer support, addressing user queries and issues promptly and professionally.
                    </div>
                    <div class="list-group-item">
                        Application Maintenance: Devanand is involved in the maintenance and improvement of existing software applications to ensure their reliability and performance.
                    </div>
                    <div class="list-group-item">
                        Collaboration: They collaborate with other developers, testers, and project managers to identify issues, implement fixes, and improve the overall product quality.
                    </div>
                    <div class="list-group-item">
                        Documentation: Devanand maintains detailed documentation of support activities, including issue resolutions, common problems, and solutions for future reference.
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
